@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fontePadrao: 'AR One Sans', sans-serif;
}

body {
    /* background-color: #000000; */
    color: white;
    z-index: 1;
}

header {
    width: 100%;
    display: flex;
    background-color: #000000;
    /*margin-bottom: 20px;*/
    position: sticky;
    top: 0;
    z-index: 18;
}

.logo {
    margin-top: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.logo > a > img {
    width: 100%;
    height: 115px;
}
.telLogo{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
font-family: var(--fontePadrao);
}
.telLogo > img{
    width: 35px;
}
nav {
    width: 70%;
    margin-top: 50px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.itensNav {
    height: 60px;
    color: white;
    width: 23%;
    text-align: center;
    font-family: var(--fontePadrao);
}

.itensNav :hover {
    cursor: pointer;
}

.itensNav > a {
    text-decoration: none;
    color: white;
}
.itensNav > a > h2{
    font-size: 20px;
    padding-top: 18px;
}

section.module.parallax {
    display: flex;
    justify-content: space-between;
    height: 120vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}

section.module.parallax-1 {
    background-image: url(images/imagemFundoIntro4.jpg);
}

#secaoEconomia {
    background-image: url(images/imagemFundoEconomia.jpg);
}

#secaoVantagens {
    background-image: url(images/imagemFundoVatagens.jpeg);
}

#secaoRenovavel {
    background-image: url(images/imagemFundoRenovavel.jpg);
}

.tituloParceiros {
    width: 100%;
    background-color: #000;
    color: white;
    height: 100px;
    text-align: center;
}

.tituloParceiros h1 {
    /*margin-top: 30px;*/
    font-size: 70px;
    font-weight: bold;
    font-family: var(--fontePadrao);
}

.slider {
    margin:/*50px*/ auto;
    width: 100%;
    height: 760px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 760px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #000;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.hidden {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #000;
}

.ImagensCabecalhoLinks {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 720px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}








.secaoConteudo {
    margin-top: 200px;
    margin: auto;
    width: 80%;
    min-height: 100px;
    margin-bottom: 200px;
    display: flex;
}

.textoSecaoConteudo {
    width: 50%;
    min-height: 100px;
    font-family: var(--fontePadrao);
    color: white;
    margin:  auto;
    z-index: 9;
}

.textoSecaoConteudo>h2 {
    padding: 20px;
    font-size: 45px;
    font-weight: bold;
}

.textoSecaoConteudo>p {
    padding: 8px;
    font-size: 20px;
}

.imagemSecaoConteudo {
    width: 50%;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.imagemSecaoConteudo>img {
    width: 100%;
    height: 370px;
    margin-bottom: 5px;
}

.tituloSobreCarrossel {
    font-family: var(--fontePadrao);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    font-family: var(--fontePadrao);
}

.logoFooter {
    width: 40%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoFooter>img {
    height: 110px;
    width: 400px;
}

.linksFooter {
    width: 30%;
    height: 100px;
    margin: auto;
}

.subtituloLinks {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.imagenslinksFooter {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: auto;
}

.imagenslinksFooter>a>img {
    height: 50px;
    width: 50px;
}

.secaoIntroducao {
    width: 100%;
    height: 700px;
    background-image: url(images/imagemFundoIntro4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.parteTitulo {
    width: 30%;
    height: 100%;
    font-family: var(--fontePadrao);
    color: #F2CC0C;
    box-shadow: 100px rgba(0, 0, 0, 1.0);
    margin-top: 100px;
    margin-left: 200px;
    z-index: 9;
}

.textoCarrossel {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-left: 10%;
    margin-top: 10%;
    padding: 10px;
    font-family: var(--fontePadrao);
}

.textoCarrossel h1 {
    font-size: 55px;
    color: white;
    text-decoration: none;
}

.textoCarrossel p {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.parteTitulo>h1 {
    font-size: 35px;
    padding: 10px;
}

.parteTitulo>h2 {
    font-size: 25px;
    padding: 10px;
}

.linksSecaoIntroducao {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    z-index: 9;
}

.linksSecaoIntroducao>a {
    color: #F2CC0C;
    text-decoration: none;
    padding: 5px;
    font-family: var(--fontePadrao);
    font-size: 20px;
    cursor: pointer;
}

.secaoFormulario {
    width: 50%;
    height: 650px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    background-color: #000;
    border-radius: 10px;
    color: white;
    margin: auto;
    padding: 10px;
    font-family: var(--fontePadrao);
    border: none;
    overflow: auto;
}

.tituloFormulario {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.inputsFormulario {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 25px;
    padding: 1rem;
}
.inputsFormulario input{
    margin: 1rem 0;
    font-size: 20px;
    border: none;
    border-radius: .25rem;
    height: 35px;
}
.input-mensagem{
    height: 100px;
    vertical-align: text-top;
    text-wrap: wrap;
    padding: 1rem;
    font-size: 20px;
    border-radius: .25rem;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .6);
    filter: blur(20px);
}

.botoesInputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 1rem;
}

.botoesInputs input {
    font-size: 20px;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    width: 30%;
    height: 2rem;
}
#botao-envia{
    color: white;
    background-color: #03A64A;
}
#botao-cancelar{
    color: black;
    background-color: red;
}

#Link-orçamento {
    background-color: #000;
    border: none;
}
/* SEÇÃO SONHOS REALIZADOS*/
.secao-sonhos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.sonhos{
width: 40%;
flex-direction: column;
display: flex;
margin-bottom: 1rem;
padding-bottom: 1rem;
margin-top: 3rem;
padding-top: 1rem;
border: 1px solid black;
border-radius: .25rem;
background-color: white;
color: black;
font-family: var(--fontePadrao);
}
.sonhos > img{
    width: 60%;
    margin: 1rem auto;
    border-radius: .25rem
}
.sonhos > h2{
    text-align: center;
    font-size: 1.75rem;
    margin: 10px 0;
}
.sonhos > span{
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-radius: .25rem;
}
.sonhos > p{
    padding: 2rem;
    font-size: 20px;
}
.sonhos > button{
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 20%;
    border-radius: .25rem;
    margin-left: 70%;
    height: 40px;
    opacity: .8;
}
.sonhos > button:hover{
    transition: .5s;
    opacity: 1;
}
.fundo-popUp{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;    
}
.popUp{
    width: 85%;
    margin: auto;
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    height: 500px;
    background-color: white;
}
#secaoEconomia{
    display: flex;
    justify-content: center;
}
#secaoVantagens{
    display: flex;
    justify-content: center;
}
#secaoRenovavel{
    display: flex;
    justify-content: center;
}
@media screen  and (max-width: 1025px){
    .logo{
        width: 40%;
    }
    .logo > a > img{
        height: 110px;
    }
    .telLogo > img{
        width: 45px;
    }
    .telLogo{
        font-size: 25px;
    }
    nav{
        width: 60%;
        margin-top: 20px;
        height: 35px;
    }
    .itensNav{
        height: 35px;
    }
    .itensNav > a > h2{
        font-size: 27px;
        padding-top: 12px;
    }
    .itensNav > h2{
        font-size: 27px;
        margin-top: 10px;
    }
    .dropbtn{
        font-size: 27px;
    }

    section.module.parallax{
        height: 90vh !important;
    }
    .parteTitulo{
        width: 300px;
        margin-top: 70px;
        margin-left: 100px;
    }
    .parteTitulo>h1{
        font-size: 42px;
        padding: 8px;
    }
    .parteTitulo>h2{
        font-size: 32px;
    }
    .linksSecaoIntroducao{
        margin-top: 150px;
        margin-left: 30px;
    }
    .linksSecaoIntroducao>a{
        text-align: center;
        font-size: 32px;
        padding: 3px;
    }
    .tituloParceiros {
        height: 100px;
    }
    .tituloParceiros h1{
        font-size: 65px;
    }
    .slider{
        height: 650px;
    }
    .slide > img{
        height: 100%
    }
    .slides{
        height: 650px;
    }
    .navigation-auto{
        margin-top: 610px;
    }
    .textoCarrossel h1{
        font-size: 55px;
    }
    .textoCarrossel p{
        font-size: 30px;
    }
    .textoCarrossel{
        margin-top: 14%;
        width: 280px;
        margin-left: 18%;
    }
    .textoSecaoConteudo{
        margin: auto;
        width: 70%; 
    }
    .textoSecaoConteudo>h2{
        font-size: 45px;
    }
    .textoSecaoConteudo>p{
        font-size: 30px;
        padding: 5px;
    }
    footer{
        min-height: 100px;
    }
    .logoFooter{
        height: 110px;
    }
    .logoFooter > img{
        width: 100%;
        height: 100px;
    }
    .subtituloLinks{
        margin-bottom: 5px;
        font-size: 20px;
    }
    .imagenslinksFooter>a>img {
        height: 50px;
        width: 50px;
    }
    .sonhos{
        width: 47%;
    }
    .sonhos > img{
        width: 80%;
    }
    .sonhos > h2{
        font-size: 2.4rem;
    }
    .sonhos > p{
        font-size: 28px;
        padding: 1.75rem;
    }
    .secaoFormulario{
        width: 70%;
        height: 780px;
        padding: 7px;
    }
    .tituloFormulario{
        font-size: 25px;
    }
    .inputsFormulario input{
        font-size: 28px;
        height: 55px;
        margin: .75rem 0;
    }
    .input-mensagem{
        height: 100px;
        padding: .75rem;
        font-size: 28px;
    }
    .botoesInputs input{
        font-size: 28px;
        height: 3rem;
    }
}
@media screen and (max-width: 769px){
     .logo{
        width: 40%;
     }
    .logo > a > img{
        height: 100px;
        width: 100%;
    }
    .telLogo > img{
        width: 25px;
    }
    nav{
        margin-top: 8px;
        width: 60%;
        height: 45px;
    }
    .itensNav{
        height: 35px;
    }
    .itensNav > a > h2{
        font-size: 22px;
        padding-top: 12px;
    }
    .itensNav > h2{
        font-size: 22px;
        margin-top: 10px;
    }
    .dropbtn{
        font-size: 22px;
    }

    section.module.parallax{
        height: 85vh !important;
    }
    .parteTitulo{
        margin-top: 60px;
        margin-left: 70px;
    }
    .parteTitulo>h1{
        font-size: 30px;
        padding: 8px;
    }
    .parteTitulo>h2{
        font-size: 24px;
        padding: 8px;
    }
    .linksSecaoIntroducao{
        margin-top: 120px;
        margin-right: 30px;
    }
    .linksSecaoIntroducao>a{
        font-size: 24px;
        padding: 10px;
        text-align: center;
    }
    .tituloParceiros {
        height: 80px;
    }
    .tituloParceiros h1{
        font-size: 55px;
    }
    .slider{
        height: 500px;
    }
    .slide > img{
        height: 100%;
    }
    .slides{
        height: 500px;
    }
    .navigation-auto{
        margin-top: 460px;
    }
    .textoCarrossel{
        width: 250px;
        margin-left: 20%;
        margin-top: 12%;
    }
    .textoCarrossel h1{
        font-size: 40px;
    }
    .textoCarrossel p{
        font-size: 24px;
    }
    .textoSecaoConteudo{
        margin: auto; 
        width: 70% ;
    }
    .textoSecaoConteudo>h2{
        font-size: 34px;
    }
    .textoSecaoConteudo>p{
        font-size: 24px;
        padding: 3.5px;
    }
    footer{
        min-height: 80px;
    }
    .logoFooter{
        height: 95px;
    }
    .logoFooter > img{
        width: 100%;
        height: 85px;
    }
    .subtituloLinks{
        margin-bottom: 5px;
        font-size: 16px;
    }
    .imagenslinksFooter>a>img {
        height: 45px;
        width: 45px;
    }
    .sonhos{
        width: 47%;
    }
    .sonhos > img{
        width: 80%;
    }
    .sonhos > h2{
        font-size: 1.90rem;
    }
    .sonhos > p{
        font-size: 24px;
        padding: 1.15rem;
    }
    .secaoFormulario{
        width: 70%;
        height: 700px;
        padding: 7px;
    }
    .tituloFormulario{
        font-size: 22px;
    }
    .inputsFormulario input{
        font-size: 20px;
        height: 45px;
        margin: .75rem 0;
        padding: .75rem;
    }
    .input-mensagem{
        height: 100px;
        padding: .75rem;
        font-size: 20px;
    }
    .botoesInputs input{
        font-size: 20px;
        height: 2.5rem;
    }
}
@media screen and (max-width: 415px){
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 100%;
        flex-direction: row;
        margin: auto;
    }
    .logo > a > img{
        height: 80px;
        width: 100%;
    }
    .telLogo > img{
        width: 20px;
    }
    .telLogo{
        font-size: 18px;
        width: 50%;
    }
    nav{
        margin-top: 2px;
        height: 65px;
        background-color: #000;
        z-index: 18;
        width: 100%;
    }
    .itensNav{
        height: 15px;
    }
    .itensNav > a > h2{
        font-size: 18px;
        padding-top: 5px;
    }
    .itensNav > h2{
        font-size: 18px;
        margin-top: 5px;
    }
    .dropbtn{
        font-size: 18px;
        padding: 5px;
    }

    section.module.parallax{
        height: 80vh !important;
    }
    .parteTitulo{
        width: 45%;
        margin-top: 30px;
        margin-left: 5%;
    }
    .parteTitulo>h1{
        font-size: 22px;
        padding: 6px;
    }
    .parteTitulo>h2{
        font-size: 18px;
    }
    .linksSecaoIntroducao{
        margin-top: 70px;
        margin-right: 20px;
    }
    .linksSecaoIntroducao>a{
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }
    .tituloParceiros {
        height: 60px;
    }
    .tituloParceiros h1{
        font-size: 38px;
    }
    .slider{
        height: 350px;
    }
    .slides{
        height: 350px;
    }
    .slide > img{
        height: 100%;
    }
    .navigation-auto{
        margin-top: 310px;
    }
    .textoCarrossel{
        margin-left: 30%;
        margin-top: 16%;
    }
    .textoCarrossel h1{
        font-size: 32px;
    }
    .textoCarrossel p{
        font-size: 20px;
    }
    .textoSecaoConteudo{
        margin: auto; 
        width: 90%;
    }
    .textoSecaoConteudo>h2{
        font-size: 28px;
        padding: 1.5px;
    }
    .textoSecaoConteudo>p{
        font-size: 20px;
        padding: 1.5px;
    }
    footer{
        min-height: 70px;
    }
    .logoFooter{
        width: 60%;
        height: 80px;
        justify-content: center;
    }
    .logoFooter > img{
        width: 100%;
        height: 80px;
    }
    .subtituloLinks{
        margin-bottom: 4px;
        margin-top: 8px;
        font-size: 12px;
    }
    .imagenslinksFooter>a>img {
        height: 35px;
        width: 35px;
    }
    .sonhos{
        width: 90%;
        margin: 30px auto;
    }
    .sonhos > img{
        width: 80%;
    }
    .sonhos > h2{
        font-size: 1.75rem;
    }
    .sonhos > p{
        font-size: 20px;
        padding: 1.15rem;
    }
    .secaoFormulario{
        width: 90%;
        height: 600px;
        padding: 5px;
    }
    .tituloFormulario{
        font-size: 16px;
        padding: 4px;
    }
    .inputsFormulario{
        width: 80%;
    }
    .inputsFormulario input{
        font-size: 16px;
        height: 28px;
        margin: .50rem 0;
        padding: .50rem;
    }
    .input-mensagem{
        height: 90px;
        padding: .75rem;
        font-size: 16px;
        margin: .50rem 0;
    }
    .botoesInputs input{
        font-size: 16px;
        height: 2.5rem;
    }
}
@media screen and (max-width: 391px){
    .itensNav{
        height: 15px;
    }
    .itensNav > a > h2{
        font-size: 16px;
        padding-top: 5px;
    }
    .itensNav > h2{
        font-size: 16px;
        margin-top: 5px;
    }
    .dropbtn{
        font-size: 16px;
        padding: 5px;
    }
    .textoCarrossel{
        margin-left: 34%;
        margin-top: 16%;
    }
    .textoCarrossel h1{
        font-size: 30px;
    }
    .textoCarrossel p{
        font-size: 20px;
    }
    .textoSecaoConteudo>h2{
        font-size: 26px;
        padding: 1.5px;
    }
    .textoSecaoConteudo>p{
        font-size: 19px;
        padding: 1.5px;
    }
}
@media screen and (max-width: 376px) {
    .tituloParceiros h1{
        font-size: 35px;
    }
    .slider{
        height: 330px;
    }
    .slides{
        height: 330px;
    }
    .slide > img{
        height: 100%;
    }
    .navigation-auto{
        margin-top: 290px;
    }
    .textoSecaoConteudo>h2{
        font-size: 24px;
        padding: 1.5px;
    }
    .textoSecaoConteudo>p{
        font-size: 17px;
        padding: 1.5px;
    }
}
@media screen and (max-width: 321px){
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 90%;
        flex-direction: row;
        margin: auto;
    }
    .logo > a > img{
        height: 48px;
        width: 100%;
    }
    .telLogo > img{
        width: 20px;
    }
    .telLogo{
        font-size: 12px;
        width: 50%;
    }
    nav{
        margin-top: 2px;
        height: 65px;
        background-color: #000;
        z-index: 18;
        width: 100%;
    }
    .itensNav{
        height: 12px;
    }
    .itensNav > a > h2{
        font-size: 15px;
        padding-top: 5px;
    }
    .itensNav > h2{
        font-size: 15px;
        margin-top: 5px;
    }
    .dropbtn{
        font-size: 15px;
        padding: 5px;
    }

    section.module.parallax{
        height: 80vh !important;
    }
    .parteTitulo{
        width: 45%;
        margin-top: 25px;
        margin-left: 5%;
    }
    .parteTitulo>h1{
        font-size: 18px;
        padding: 4px;
    }
    .parteTitulo>h2{
        font-size: 15px;
    }
    .linksSecaoIntroducao{
        margin-top: 50px;
        margin-right: 20px;
    }
    .linksSecaoIntroducao>a{
        text-align: center;
        margin: 5px 0;
        font-size: 14px;
        padding: 2px;
    }
    .tituloParceiros {
        height: 35px;
    }
    .tituloParceiros h1{
        font-size: 25px;
    }
    .slider{
        height: 180px;
    }
    .slides > img{
        height: 100%
    };
    .slides{
        height: 180px;
    }
    .navigation-auto{
        margin-top: 160px;
    }
    .navigation-auto div{
        padding: 2px;
    }
    .navigation-auto div:not(:last-child) {
        margin-right: 20px;
    }
    .textoCarrossel{
        margin-left: 32%;
        margin-top: 10%;
    }
    .textoCarrossel h1{
        font-size: 20px;
    }
    .textoCarrossel p{
        font-size: 10px;
    }
    .textoSecaoConteudo{
        margin: auto; 
        width: 90%;
    }
    .textoSecaoConteudo>h2{
        font-size: 24px;
    }
    .textoSecaoConteudo>p{
        font-size: 14px;
        padding: 1.5px;
    }
    footer{
        min-height: 60px;
        flex-direction: column;
    }
    .logoFooter{
        width: 80%;
        height: 70px;
        order: 2;
        margin: 5px auto;
    }
    .linksFooter{
        width: 50%;
        order: 1;
        height: 50px;
    }
    .logoFooter > img{
        width: 100%;
        height: 60px;
        margin-bottom: 5px;
    }
    .subtituloLinks{
        margin-bottom: 5px;
        margin-top: 6px;
        font-size: 8px;
    }
    .imagenslinksFooter{
        width: 80%;
    }
    .imagenslinksFooter>a>img {
        height: 30px;
        width: 30px;
    }
    .sonhos{
        width: 90%;
        margin: 30px auto;
    }
    .sonhos > img{
        width: 90%;
        margin: .5rem auto;
    }
    .sonhos > h2{
        font-size: 1.15rem;
    }
    .sonhos > p{
        font-size: 15px;
        padding: .95rem;
    }
    .secaoFormulario{
        width: 85%;
        height: 400px;
        padding: 2px;
    }
    .tituloFormulario{
        font-size: 10px;
    }
    .inputsFormulario input{
        font-size: 12px;
        height: 16px;
        margin: .40rem 0;
        padding: .40rem;
    }
    .input-mensagem{
        height: 60px;
        padding: .75rem;
        font-size: 12px;
    }
    .botoesInputs input{
        font-size: 1    2px;
        height: 1.35rem;
    }
}
@media screen and (max-width: 281px){
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 100%;
        flex-direction: row;
        margin: auto;
    }
    .logo > a > img{
        height: 48px;
        width: 100%;
    }
    .telLogo > img{
        width: 20px;
    }
    .telLogo{
        font-size: 12px;
        width: 50%;
    }
    nav{
        margin-top: 2px;
        height: 45px;
        background-color: #000;
        z-index: 18;
        width: 100%;
    }
    .itensNav{
        height: px;
    }
    .itensNav > a > h2{
        font-size: 12px;
        padding-top: 5px;
    }
    .itensNav > h2{
        font-size: 12px;
        margin-top: 5px;
    }
    .dropbtn{
        font-size: 12px;
        padding: 5px;
    }

    section.module.parallax{
        height: 70vh !important;
    }
    .parteTitulo{
        width: 45%;
        margin-top: 25px;
        margin-left: 5%;
    }
    .parteTitulo>h1{
        font-size: 18px;
        padding: 4px;
    }
    .parteTitulo>h2{
        font-size: 15px;
    }
    .linksSecaoIntroducao{
        margin-top: 50px;
        margin-right: 20px;
    }
    .linksSecaoIntroducao>a{
        text-align: center;
        margin: 5px 0;
        font-size: 12px;
        padding: 2px;
    }
    .tituloParceiros {
        height: 35px;
    }
    .tituloParceiros h1{
        font-size: 25px;
    }
    .slider{
        height: 200px;
    }
    .slides > img{
        height: 100%
    }
    .slides{
        height: 200px;
    }
    .navigation-auto{
        margin-top: 160px;
    }
    .navigation-auto div{
        padding: 2px;
    }
    .navigation-auto div:not(:last-child) {
        margin-right: 20px;
    }
    .textoCarrossel{
        margin-left: 44%;
        margin-top: 10%;
    }
    .textoCarrossel h1{
        font-size: 20px;
    }
    .textoCarrossel p{
        font-size: 10px;
    }
    .textoSecaoConteudo{
        margin: auto; 
        width: 90%;
    }
    .textoSecaoConteudo>h2{
        font-size: 22px;
        padding: 3px;
    }
    .textoSecaoConteudo>p{
        font-size: 14px;
        padding: 2px;
    }
    footer{
        min-height: 60px;
        flex-direction: column;
    }
    .logoFooter{
        width: 80%;
        height: 70px;
        order: 2;
        margin: 5px auto;
    }
    .linksFooter{
        width: 50%;
        order: 1;
        height: 50px;
    }
    .logoFooter > img{
        width: 100%;
        height: 60px;
        margin-bottom: 5px;
    }
    .subtituloLinks{
        margin-bottom: 5px;
        margin-top: 6px;
        font-size: 8px;
    }
    .imagenslinksFooter{
        width: 80%;
    }
    .imagenslinksFooter>a>img {
        height: 30px;
        width: 30px;
    }
    .sonhos{
        width: 90%;
        margin: 30px auto;
    }
    .sonhos > img{
        width: 90%;
        margin: .5rem auto;
    }
    .sonhos > h2{
        font-size: 1.15rem;
    }
    .sonhos > p{
        font-size: 15px;
        padding: .95rem;
    }
    .secaoFormulario{
        width: 85%;
        height: 380px;
        padding: 2px;
    }
    .tituloFormulario{
        font-size: 10px;
    }
    .inputsFormulario{
        width: 90%;
    }
    .inputsFormulario input{
        font-size: 12px;
        height: 16px;
        margin: .40rem 0;
        padding: .40rem;
    }
    .input-mensagem{
        height: 60px;
        padding: .75rem;
        font-size: 12px;
    }
    .botoesInputs input{
        font-size: 12px;
        width: 70px;
        height: 1.35rem;
    }
}